<html>

<head>
  <title>Calculator</title>
</head>

<body>
  <header>
    <h1>
      Wellcome to calc
    </h1>
    <main>
      <p> The result is
        <%= sum %>
      </p>
    </main>
  </header>

  <%- include('partials/footer') %>
</body>

</html>